.searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; /* Rounded corners on the left side */
  outline: none;
  width: 300px; /* Adjust based on your design */
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0; /* Rounded corners on the right side */
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: #0056b3;
}
